@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="">TravelBlogWebApplication</a>
        
        <!-- Navbar toggler for small screens -->
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
        
        <!-- Horizontal navigation items -->
        <div class="nav-scrollable d-flex align-items-center" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="d-flex align-items-center"> <!-- Enforces horizontal layout -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Account
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Browse">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Browse
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Write">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Write
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div> *@